{
  "extends": ["react-app", "plugin:prettier/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn", {
      "singleQuote": true,
      "printWidth": 150,
      "semi": false,
      "trailingComma": "all",
      "tabWidth": 2,
      "jsxSingleQuote": false,
      "bracketSpacing": true,
      "arrowParens": "always"
    }],
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}